
<div
  class="password-enter color-{{ section.settings.color_scheme }}"
  data-testid="password-footer"
>

 <div class="password-enter__links">
    <button
      class="button-unstyled password-enter__button"
      on:click="#password-form/showDialog"
    >
      {{ 'actions.enter_using_password' | t }}
    </button>
  </div>
  <ul hidden>
    <li id="a11y-new-window-message">{{ 'accessibility.new_window' | t }}</li>
  </ul>

</div>

{% schema %}
{
  "name": "t:names.footer_password",
  "class": "section-wrapper",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
